@keyframes spin {
  from { transform: rotate(0); }
  to { transform: rotate(360); }
}
Image {
  animation-name: spin; animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.my-label {
    background-color: #bc7474;
    color: whitesmoke;
    font-size: 24;
    padding: 8;
    text-align: center;
    vertical-align: middle;
    width: 90%;
}
